* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	background-color: grey;
}
/* --------------------------- "Main" App component styles:  */
.App {
	width: 25vw;
	height: fit-content;
	padding: 5px;
	margin: 5px auto 0;
	background-color: #ffffff;
}
/* --------------------------- Searchbar component styles:*/
.searchbar-component {
	display: flex;
	flex-direction: row;
	width: 98%;
	margin: 5px auto 5px;
}
input[type="text"] {
	font-size: 1rem;
	width: 88%;
	height: 35px;
	padding: 5px 5px;
	border: 1px solid rgba(135, 206, 235, 0.7);
	border-radius: 3px;
	outline: none;
}
.search-icon {
	color: #444;
	font-size: 1.5rem;
	margin: auto;
}
.search-icon:hover {
	color: rgb(10, 10, 10);
	cursor: pointer;
}
/* --------------------------- Location component styles:*/
.location-component {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	margin: 0 auto 5px;
	width: 98%;
	background-color: blueviolet; /*Temporary*/
	border-radius: 5px;
	cursor: default;
}
.location-component-child-1 {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.location-component-child-1 a {
	text-decoration: none;
}
.location-heading {
	color: white;
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0;
}
.location-date {
	color: white;
	font-size: 0.85rem;
	margin: 0;
}
.icon-info-container {
	display: flex;
	width: fit-content;
}
.location-component i {
	font-size: 1.2rem;
	color: skyblue;
}
.location-condition {
	color: skyblue;
	font-size: 0.85rem;
	margin-left: 5px;
	margin-top: 4px;
}
.location-component-child-2 {
	width: 100px;
	height: 100px;
}
.location-image {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
/* --------------------------- WeatherTabs component styles:*/
.weathertabs-component {
	display: flex;
	width: 98%;
	height: fit-content;
	padding: 5px;
	margin: 0 auto 5px;
	background-color: teal;
	border-radius: 5px;
}
/* --------------------------- WeatherTab (single) component styles:*/
.weather-tab {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 0.8rem;
	text-align: center;
	width: 20%;
	height: fit-content;
	padding: 5px;
	border-radius: 0 0 20% 20%;
	cursor: pointer;
}
.weather-tab:hover {
	background: linear-gradient(to bottom, rgba(158, 97, 97, 0.2), skyblue);
}
.weather-tab p {
	margin: 0;
}
.tab-icons {
	font-size: 1.2rem;
	margin: 5px 0;
}
/* --------------------------- AdditionalInfo component styles:*/
.additional-info-component {
	width: 98%;
	padding: 5px;
	margin: 0px auto 5px;
	background-color: pink;
	border-radius: 5px;
	cursor: default;
}
.additional-info-heading {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0;
}
.additional-info-sections {
	display: flex;
	justify-content: space-around;
}

.additional-info-title {
	font-size: 1rem;
	font-weight: bolder;
	text-align: center;
	margin: 0;
}
.additional-info-status {
	font-size: 0.8rem;
	text-align: center;
	margin: 0;
}
.middle-info-section {
	padding: 0 5px;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}
/* --------------------------- ChartsSelect component styles:*/
.charts-select-component {
	display: flex;
	justify-content: space-between;
	width: 98%;
	height: fit-content;
	padding: 10px 5px;
	margin: 0px auto 5px;
	background-color: limegreen;
	border-radius: 5px;
	cursor: default;
}
.charts-select-heading {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0;
}
.dropdown-options {
	font-size: 0.9rem;
	font-weight: bold;
	font-family: Arial;
	padding: 3px 15px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}
/* --------------------------- Graph component styles:*/
.graph-component {
	width: 98%;
	height: 35vh;
	margin: 0px auto;
	border: solid 1px #808080;
	border-radius: 5px;
}
.selected-graph {
	height: 100%;
}
/*-------------------------------------Media Queries:*/
/* Laptop screen size styles: */
@media screen and (max-width: 1024px) {
	.App {
		width: 35vw;
		margin: 10px auto 0;
	}
}
/* Tablet device size styles */
@media screen and (max-width: 768px) {
	.App {
		width: 45vw;
		margin: 10px auto 0;
	}
}
/* Mobile device size styles: */
@media screen and (max-width: 568px) {
	.App {
		width: 100vw;
		height: 100vh;
		margin: 0;
	}
}
