* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	background-color: grey;
}
/* --------------------------- "Main" App component styles:  */
.App {
	width: 25vw;
	height: fit-content;
	padding: 5px;
	margin: 5px auto 0;
	background-color: #ffffff;
}
/* --------------------------- Autocomplete component styles:*/
.autocomplete-wrapper {
	position: relative;
	display: inline-block;
	width: 88%;
	margin: 0 auto;
}
.autocomplete-wrapper > div {
	width: 100%;
}
.autocomplete-wrapper input {
	font-size: 1rem;
	width: 100%;
	padding: 12px 15px;
	border: 1px solid #cecece;
	outline: none;
}
.autocomplete-wrapper input:focus {
	border-color: #0f67ff;
	box-shadow: none;
	outline: none;
}
.autocomplete-wrapper .dropdown {
	position: relative;
	width: 100%;
	padding: 0;
	text-align: left;
	max-height: 280px;
	overflow: hidden;
	overflow-y: auto;
	background-color: #ffffff;
	border: 1px solid #0f67ff;
	border-top: none;
}
.autocomplete-wrapper .item {
	display: block;
	font-size: 14px;
	padding: 15px;
	cursor: pointer;
}
.autocomplete-wrapper .item.selected-item {
	background-color: #0069ff;
	color: #fafbfc;
}

.autocomplete-wrapper .item:hover {
	background-color: #0069ff;
	color: #fafbfc;
}
/*-------------------------------------Media Queries:*/
/* Laptop screen size styles: */
@media screen and (max-width: 1024px) {
	.App {
		width: 35vw;
		margin: 10px auto 0;
	}
}
/* Tablet device size styles */
@media screen and (max-width: 768px) {
	.App {
		width: 45vw;
		margin: 10px auto 0;
	}
}
/* Mobile device size styles: */
@media screen and (max-width: 568px) {
	.App {
		width: 100vw;
		height: 100vh;
		margin: 0;
	}
}
