* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: grey;
}

/* ----------------------------------------- "Main" App component styles:  */
.App {
	width: 25vw;
	height: fit-content;
	padding: 5px;
	margin: 20px auto 0;
	/* border: 1px solid #000000; */
	background-color: #ffffff;
}

/* ----------------------------------------- Searchbar component styles:*/
.searchbar-component {
	display: flex;
	flex-direction: row;
	width: 98%;
	margin: 5px auto 5px;
}

input[type="text"] {
	width: 88%;
	height: 35px;
	font-size: 1rem;
	padding: 5px 5px;
	border: 1px solid rgba(135, 206, 235, 0.7);
	border-radius: 3px;
}

.search-icon {
	color: #555;
	font-size: 1.5rem;
	margin: auto;
}

/* ----------------------------------------- Location component styles:*/
.location-component {
	display: flex;
	justify-content: space-between;
	padding: 3px; /*Temporary?*/
	width: 98%;
	padding: 5px;
	margin: 0 auto 5px;
	background-color: blue; /*Temporary*/
	border-radius: 3px; /*Temporary*/
}

.location-container-child-1 {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.location-container-child-1 a {
	text-decoration: none;
}

.location-heading {
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.location-date {
	color: white;
	/* color: #555; */
	font-size: 1rem;
	margin: 0;
}

.icon-info-container {
	display: flex;
}

.location-icon {
	font-size: 1rem;
	color: skyblue;
	margin: 5px 0 5px;
}

.location-condition {
	color: skyblue;
	font-size: 1rem;
	margin-left: 5px;
}

.location-container-child-2 {
	width: 100px;
	height: 100px;
}

.location-image {
	width: 100%;
	height: 100%;
	/* border-radius: 3px; */
}

/* ----------------------------------------- WeatherTabs component styles:*/
.weathertab-component {
	display: flex;
	width: 98%;
	height: fit-content;
	padding: 5px;
	margin: 0 auto 5px;
	border-radius: 3px;
	background-color: #5f9ea0;
}

.weather-tab {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: fit-content;
	color: white;
	text-align: center;
	font-size: 0.7rem;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
}

.weather-tab:hover {
	background-color: red;
}

.weather-tab p {
	margin: 0;
}

.tab-icons {
	font-size: 1rem;
	margin: 5px 0;
}

/* ----------------------------------------- GeneralInfo component styles:*/
.additional-info-component {
	width: 98%;
	padding: 5px;
	margin: 0px auto 5px;
	background-color: pink;
	border-radius: 3px;
}

.additional-info-heading {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0;
}

.additional-info-sections {
	display: flex;
	justify-content: space-between;
}

.additional-info-title {
	font-size: 1rem;
	text-align: center;
	margin: 0;
}

.additional-info-status {
	font-size: 0.8rem;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

/* ----------------------------------------- Temperature component styles:*/
.temperature-component {
	width: 98%;
	height: fit-content;
	padding: 10px 5px;
	margin: 0px auto 5px;
	display: flex;
	justify-content: space-between;
	background-color: limegreen;
	border-radius: 3px;
}

.temperature-heading {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0;
}

.dropdown-options {
	font-size: 0.9rem;
	font-weight: bold;
	font-family: Arial;
	padding: 3px;
	border-radius: 5px;
}

/* ----------------------------------------- Graph component styles:*/
.graph-component {
	width: 98%;
	height: 35vh;
	margin: 0px auto 5px;
	border: solid 1px #808080;
	border-radius: 3px;
}

.graph-content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/*---------------------------------------------------*/
/* Mobile device styles: */
@media screen and (max-width: 420px) {
	.App {
		width: 100% !important;
	}
}

/* @media screen and (max-width: 900px) {
	.App {
		width: 50% !important;
	}
} */
